body{
	background-color: #97d8f0;
}

.bg-primary{
	background-color: #00688a !important;
}

.nav-link{
	color: white !important;
}

.btn-primary{
	background-color: ##0054a4;
	border-color: ##0054a4;
	cursor: pointer;
}

.info-col{
	background-color: rgba(255, 219, 88, 0.7);
}

.container{
	background-color: white;
	padding: 30px;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow:none;
}

#calculate-button-spinner{
	display: none;
}

td{
	border-top: none !important;
	text-align: start;
}

.hidden{
	display: none;
}

.card{
	overflow: visible !important;
}

.output-card{
	background-color: rgba(255, 219, 88, 0.7);
	border-color: black;
	border: 1px solid;
	padding: 20px;
}

.table-element{
	vertical-align: text-top;
	padding-left: 30px;
}

.table-wrapper .column-content{
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.table-wrapper .margin-right {
	margin-right:2px;
	word-wrap: break-word;
}
.header-text {
	font-weight: bold;
	height: 40px;
	font-size: 14px;
	word-wrap: break-word;
}
.row-padding {
	padding-top: 8px;	
}
.row-text {	
	font-size: 13px;
	word-wrap: break-word;
}