/* CSS for atlast */
/*
 * Utilities
 */
/*
 * Commonly used mixins
 */
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/*
 * Application specific configuration
 */
/*
 * Relative root for graphical profile folder.
 * Used mainly when LESS files are included from a different folder.
 */

.atlast-navbar {
    background-color: #2c3e50;
}

a.nav-link {
    color: white !important;
    font-weight: 500;
}

a.nav-link:hover {
    color: #18bc9c !important;
}

.notes {
  font-weight: 600;
  color: #747474;
}

.card {
  background-color: #aceadd;
  border-width: 0px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  min-height: 39px;
}

.card.recalculate {
    background-color: pink;
    color: pink;
}

input:invalid {
  border: 2px solid red;
}

.submit-btn-col {
    margin-top: 0.2rem;
}

.invalid-message {
    width:100%;
    margin-top:.25rem;
    font-size:.9em;
    color:#e74c3c;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
#hidnav a[href="#bottomnav"] {
  display: none;
}
:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
.info-link-wrapper {
  font-size: 16px;
  font-size: 1.6rem;
}
html,
body {
  font-family: "Roboto", sans-serif, Arial, sans-serif;
  line-height: 26px;
  color: #3b3b3b;
  font-weight: 400;
  font-size: 17px;
  font-size: inherit;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
a.vrtx-more::before,
div.vrtx-more a::before,
a.all-messages::before,
a.all-comments::before,
.footer > .vrtx-search-scope a::before,
a.more-url::before {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-size: 2rem;
}
.introduction-div,
.vrtx-introduction-big,
.vrtx-frontpage-box.introduction .vrtx-box-content,
.vrtx-organizational-unit-introduction,
.vrtx-introduction {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 32px;
}
h1,
h2,
h3,
h4,
.vrtx-toc-header {
  font-family: "Roboto", sans-serif;
  color: #3b3b3b;
  font-weight: 700;
}
h1 a,
h2 a,
h3 a,
h4 a,
.vrtx-frontpage-box.vrtx-more-false > h2 a,
#comments-header-left a,
#main *:not(.vrtx-messages) > .vrtx-resource a,
h1 a.vrtx-title,
h2 a.vrtx-title,
h3 a.vrtx-title,
h4 a.vrtx-title,
.vrtx-frontpage-box.vrtx-more-false > h2 a.vrtx-title,
#comments-header-left a.vrtx-title,
#main *:not(.vrtx-messages) > .vrtx-resource a.vrtx-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
h1 {
  font-size: 30px;
  font-size: 3rem;
}
h2 {
  font-size: 26px;
  font-size: 2.6rem;
}
.vrtx-frontpage-box .item-title,
h3 {
  font-size: 20px;
  font-size: 2rem;
}
h4 {
  font-size: 16px;
  font-size: 1.6rem;
}
hr {
  border-bottom: 4px solid #c09782;
  padding-bottom: 10px;
}
#main .vrtx-back a::before {
  background: rgba(0, 0, 0, 0) url("/vrtx/decorating/resources/images/icon-chevron-back.svg") no-repeat scroll 0 2px;
}
#main .button:not(.comment-delete-button):not(#vrtx-comments-delete-all):not(.red):not(.white):not(.program-create-print):not(.program-create-send-dialog):not(.vrtx-program-read-more):not(.vrtx-program-how-search),
#main button:not(.comment-delete-button):not(#vrtx-commments-delete-all):not(.red):not(.white),
input[type="button"]:not(.red),
input[type="submit"]:not(.submit-comment-button):not(.red),
input[type="cancel"]:not(.red),
.header-search-expand,
button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #876157;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}
#main .button:not(.comment-delete-button):not(#vrtx-comments-delete-all):not(.red):not(.white):not(.program-create-print):not(.program-create-send-dialog):not(.vrtx-program-read-more):not(.vrtx-program-how-search):focus,
#main button:not(.comment-delete-button):not(#vrtx-commments-delete-all):not(.red):not(.white):focus,
input[type="button"]:not(.red):focus,
input[type="submit"]:not(.submit-comment-button):not(.red):focus,
input[type="cancel"]:not(.red):focus,
.header-search-expand:focus,
button:focus,
#main .button:not(.comment-delete-button):not(#vrtx-comments-delete-all):not(.red):not(.white):not(.program-create-print):not(.program-create-send-dialog):not(.vrtx-program-read-more):not(.vrtx-program-how-search):hover,
#main button:not(.comment-delete-button):not(#vrtx-commments-delete-all):not(.red):not(.white):hover,
input[type="button"]:not(.red):hover,
input[type="submit"]:not(.submit-comment-button):not(.red):hover,
input[type="cancel"]:not(.red):hover,
.header-search-expand:hover,
button:hover {
  background-color: #3b3b3b;
  color: #ffffff;
}
#main .button:not(.comment-delete-button):not(#vrtx-comments-delete-all):not(.red):not(.white):not(.program-create-print):not(.program-create-send-dialog):not(.vrtx-program-read-more):not(.vrtx-program-how-search) a:focus,
#main button:not(.comment-delete-button):not(#vrtx-commments-delete-all):not(.red):not(.white) a:focus,
input[type="button"]:not(.red) a:focus,
input[type="submit"]:not(.submit-comment-button):not(.red) a:focus,
input[type="cancel"]:not(.red) a:focus,
.header-search-expand a:focus,
button a:focus,
#main .button:not(.comment-delete-button):not(#vrtx-comments-delete-all):not(.red):not(.white):not(.program-create-print):not(.program-create-send-dialog):not(.vrtx-program-read-more):not(.vrtx-program-how-search) a:hover,
#main button:not(.comment-delete-button):not(#vrtx-commments-delete-all):not(.red):not(.white) a:hover,
input[type="button"]:not(.red) a:hover,
input[type="submit"]:not(.submit-comment-button):not(.red) a:hover,
input[type="cancel"]:not(.red) a:hover,
.header-search-expand a:hover,
button a:hover {
  text-decoration: underline;
}
#error #head-wrapper #head {
  height: 290px;
}
 .header-search-collapsable .header-search-expand {
  background-color: #3b3b3b;
  color: #ffffff;
}
 #head-wrapper {
  background: url("../resources/atlast-banner-bg.png") 0% 85% repeat-x;

}
  #head-wrapper .header-search {
  top: 18px;
  z-index: 10;
}
 #head-wrapper .header-search input[type="text"] {
  background: #c3e4ff;
  color: #3b3b3b;
}
 #head-wrapper .header-search input[type="text"]::-webkit-input-placeholder {
  color: #4c4c4c;
}
 #head-wrapper .header-search input[type="text"]:-moz-placeholder {
  color: #4c4c4c;
}
 #head-wrapper .header-search input[type="text"]::-moz-placeholder {
  color: #4c4c4c;
}
 #head-wrapper .header-search input[type="text"]:-ms-input-placeholder {
  color: #4c4c4c;
}
 #head-wrapper .header-search input[type="text"]:focus::-webkit-input-placeholder {
  color: #4c4c4c;
}
 #head-wrapper .header-search input[type="text"]:focus:-moz-placeholder {
  color: #4c4c4c;
}
 #head-wrapper .header-search input[type="text"]:focus::-moz-placeholder {
  color: #4c4c4c;
}
 #head-wrapper .header-search input[type="text"]:focus:-ms-input-placeholder {
  color: #4c4c4c;
}
 #head-wrapper .header-search .header-search-expand {
  background: url(/vrtx/decorating/resources/dist/src/profile/images/responsive/search-icon-active.svg) 9px 9px no-repeat;
  background-size: 20px auto;
}
 #head-wrapper .header-search .header-search-expand:focus,
 #head-wrapper .header-search .header-search-expand:hover {
  background: url(/vrtx/decorating/resources/dist/src/profile/images/responsive/search-icon-active.svg) 9px 9px no-repeat;
  background-size: 20px auto;
}
 #head-wrapper .header-search button,
 #head-wrapper .header-search .header-search-expand {
  background-color: #876157;
  color: #ffffff;
}
 #head-wrapper .header-search button:focus,
 #head-wrapper .header-search .header-search-expand:focus,
 #head-wrapper .header-search button:hover,
 #head-wrapper .header-search .header-search-expand:hover {
  background-color: #6b5455;
  color: #ffffff;
}
 #head-wrapper #head {
  height: 240px;
}
 #head-wrapper #head #header {
  height: 100%;
  width: 550px;
}
 #head-wrapper #head #header img#logoimg {
  position: absolute;
  height: 150px;
  top: 88px;
  left: 80px;
}
 #head-wrapper #head #header a {
  position: absolute;
  display: block;
  color: #3b3b3b;
  cursor: pointer;
}
 #head-wrapper #head #header a#logotext {
  width: 600px;
  display: block;
  font-size: 5rem;
  top: 100px;
  left: 600px;
  position: absolute;
  height: 80px;
  padding: 10px 0;
  text-decoration: none
}
 #head-wrapper #head #header a:hover,
 #head-wrapper #head #header a:focus {
  color: #6b5455;
  text-decoration: none;
}
 #head-wrapper #head #header div.tagline {
  border-top-width: 0px;
  border-top-style: solid;
  padding-top: 20px;
  top: 40px;
  position: absolute;
  left: 0;
  font-size: 2rem;
  line-height: 1.1;
}
 #head-wrapper .vrtx-frontpage-box-picture img {
  margin-top: -36px;
}
 #head-wrapper .uio-app-name {
  display: none;
}
 #head-wrapper .head-menu {
  right: 120px;
}
 #head-wrapper .head-menu .link-in-head-menu a {
  color: #ffffff;
}
 #head-wrapper .head-menu .vrtx-login-manage-component .vrtx-dropdown-link {
  background: transparent url("/vrtx/decorating/resources/images/language-dropdown-toggle-black.png") no-repeat scroll 99% 53%;
}
 #head-wrapper .head-menu .language {
  display: none !important;
}
 #head-wrapper .head-menu ul > li a,
 #head-wrapper .head-menu .vrtx-login-manage-component > a {
  color: #4c4c4c;
}
div#content-breadcrumb-container {
  width: 970px;
  margin: 0 auto;
  padding: 10px 0;
}
#main {
  margin-top: 20px;
}
#globalnav {
  background: #c09782 none repeat scroll 0 0;
  border-bottom: 4px solid #876157;
}
#globalnav ul {
  display: flex;
  justify-content: flex-start;
  background-color: #c09782;
}
#globalnav ul li.intranet {
  display: none;
}
#globalnav ul li.vrtx-current-item:hover {
  background-color: #6A667A;
}
#globalnav ul li,
#globalnav ul li.vrtx-active-item {
  margin-bottom: -4px;
  border-bottom: 4px solid #6b5455;
  padding: 0;
  background: #c09782;
  color: #3b3b3b;
}
#globalnav ul li a,
#globalnav ul li.vrtx-active-item a {
  font-family: "Roboto", sans-serif;
  margin: 0 2px;
  padding: 10px 15px 10px 15px;
  display: block;
  height: 100%;
  color: #3b3b3b;
}
#globalnav ul li a:hover,
#globalnav ul li.vrtx-active-item a:hover,
#globalnav ul li a:focus,
#globalnav ul li.vrtx-active-item a:focus {
  text-decoration: none;
  background-color: #6A667A;
  color: #ffffff;
}
#globalnav ul li.vrtx-active-item {
  background-color: #6b5455;
}
#globalnav ul li.vrtx-active-item a {
  color: #ffffff;
  background-color: transparent;
}
#globalnav ul li.vrtx-active-item:hover,
#globalnav ul li.vrtx-active-item:focus {
  border-bottom: 4px solid #6b5455;
  color: #ffffff;
}
#left-main .vrtx-breadcrumb-menu li > span.vrtx-marked,
#left-main .vrtx-breadcrumb-menu li > a.vrtx-marked,
#left-main .vrtx-breadcrumb-menu li.vrtx-child > a.vrtx-marked,
#left-main .vrtx-breadcrumb-menu li.vrtx-parent > a.vrtx-marked {
  background: #ffffff;
  color: #485399;
}
#left-main .vrtx-breadcrumb-menu li > span.vrtx-marked,
#left-main .vrtx-breadcrumb-menu li > a.vrtx-marked,
#left-main .vrtx-breadcrumb-menu li.vrtx-child > a.vrtx-marked,
#left-main .vrtx-breadcrumb-menu li.vrtx-child > a.vrtx-after-marked {
  border-top: 2px solid transparent;
  border-bottom: 2px solid #876157;
}
#left-main .vrtx-breadcrumb-menu li > span,
#left-main .vrtx-breadcrumb-menu li > a {
  background: #ffffff;
  font-family: "Roboto", sans-serif;
}
#left-main .vrtx-breadcrumb-menu li.vrtx-parent a {
  background-color: #ffffff;
  color: #3b3b3b;
}
#left-main .vrtx-breadcrumb-menu li.vrtx-child a {
  border-top: 2px solid transparent;
  padding-left: 30px;
  color: #485399;
}
#left-main .vrtx-breadcrumb-menu li.vrtx-child > a:before,
#left-main .vrtx-breadcrumb-menu li.vrtx-child > span:before {
  content: "\003E";
  font-size: 18px;
  color: #876157;
  font-family: "Concert One", cursive;
}
#main .vrtx-back a:before {
  background: url(/vrtx/decorating/resources/images/icon-chevron-back.svg) no-repeat 0 3px transparent;
  background-size: auto 80%;
}
a.vrtx-more::before,
div.vrtx-more a::before,
a.all-messages::before,
a.all-comments::before,
.footer > .vrtx-search-scope a::before,
a.more-url::before {
  background: url("/vrtx/decorating/resources/images/arrow-forward.svg") no-repeat 0 4px;
  background-size: 20px;
  height: 20px;
}
.ui-accordion.ui-widget .ui-accordion-header .ui-icon {
  background: transparent url("../images/icon-chevron-right.svg") no-repeat center left;
  background-size: 20px 20px;
  height: 20px;
}
.ui-accordion.ui-widget .ui-accordion-header.ui-accordion-header-active .ui-icon {
  background-image: url("../images/icon-chevron-down.svg");
  background-size: 20px 20px;
}
#main .button:not(.study-select):not(.edit-link):not(.program-create-print):not(.program-create-send-dialog):not(.white) {
  background-image: url(/vrtx/decorating/resources/images/arrow-forward-hover.svg);
  background-position: 95% 50%;
  background-size: auto 0.8em;
  padding-right: 80px;
}
#main .button:not(.study-select):not(.edit-link):not(.program-create-print):not(.program-create-send-dialog):not(.white):hover,
#main .button:not(.study-select):not(.edit-link):not(.program-create-print):not(.program-create-send-dialog):not(.white):focus {
  background-image: url(/vrtx/decorating/resources/images/arrow-forward-hover.svg);
}
iframe {
  width: 100%;
  height: 360px;
}
table.vrtx-person-listing td.vrtx-person-listing-name .vrtx-image {
  padding-right: 14px;
}
table.vrtx-person-listing td.vrtx-person-listing-name .vrtx-image img {
  border-radius: 50%;
  width: 120px;
  padding: 0;
}
#vrtx-person-contact-info-wrapper .vrtx-person-image {
  border-radius: 50%;
  width: 120px;
  padding: 0;
}
.round-image img {
  border-radius: 50%;
  max-width: 300px;
  padding: 0;
}
table th {
  font-weight: 700;
  color: #3b3b3b;
}
.grid-container ul > li:before,
.uio-main ul > li:before {
  content: "\25C6";
  color: #876157;
}
.vrtx-message-line-publish-date,
.lastModified,
div.time-and-place,
.vrtx-featured-item .vrtx-date,
*:not(.vrtx-date-info) > .published-date,
.vrtx-event-component-misc,
.vrtx-comment .comment-date {
  font-family: "Roboto", sans-serif;
}
ul.social-follow {
  margin-left: -14px !important;
}
ul.social-follow > li::before {
  content: "";
}
li.twitter-follow {
  background: rgba(0, 0, 0, 0) url("../dist/src/images/share-twitter.png") no-repeat scroll left center;
  padding: 5px 0 5px 45px;
}
li.facebook-follow {
  background: rgba(0, 0, 0, 0) url("../dist/src/images/share-facebook.png") no-repeat scroll left center;
  padding: 5px 0 5px 45px;
}
#vrtx-additional-content .vrtx-search-main-links-box ul li#vrtx-search-main-link-altinnhold span {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  padding-left: 14px;
}
.vrtx-tags,
.vrtx-authors,
.vrtx-date-info,
#main .vrtx-paging-feed-wrapper,
#main #vrtx-daily-events .vrtx-daily-events-listing,
#main .vrtx-resources .vrtx-daily-events-listing,
#main #vrtx-daily-events .vrtx-resource,
#main .vrtx-resources .vrtx-resource,
#vrtx-person-contact-info-extras,
#vrtx-event-listing #main .vrtx-resources > h2:first-child {
  border-color: #c09782;
  border-width: 4px;
}
#main .vrtx-frontpage-box.top-line {
  border-top: 4px solid #c09782;
  padding-top: 30px;
  margin-bottom: 30px;
}
#main .vrtx-frontpage-box.big-image .vrtx-box-content {
  margin-left: 0px !important;
}
table.vertical tbody th[scope="row"] {
  border-width: 2px;
  width: 1%;
  white-space: nowrap;
}
table {
  border-left: none;
  border-right: none;
}
table td,
table th {
  border-color: #876157;
  border-width: 2px;
  border-left: none;
  border-right: none;
}
span.vrtx-tag-cloud-title {
  display: none;
}
blockquote {
  border-color: #876157;
}
blockquote p {
  font-family: "Roboto", sans-serif;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
  width: 100%;
}
.flex figure {
  margin: 20px 20px !important;
}
body .vrtx-facts-container {
  background: #c3e4ff;
}
body .vrtx-facts-container.primary {
  background: #876157;
}
#main .row-thirds-double:not(.row-one-colored):not(.row-thirds-double-no-vertical-line) .vrtx-frontpage-box.third-box-right {
  border-left: none;
}
#main .row-thirds-double:not(.row-one-colored):not(.row-thirds-double-no-vertical-line) .vrtx-frontpage-box.third-box-left {
  border-right: none;
}
.vrtx-frontpage-box.big-image img {
  width: 100% !important;
}
.vrtx-frontpage-box.big-image > h2 {
  margin-left: 0 !important;
}
.vrtx-frontpage-box.big-image .vrtx-box-content {
  margin-left: 0 !important;
}
.vrtx-frontpage-box.big-image .vrtx-frontpage-box-picture {
  padding-top: 40px;
}
.vrtx-frontpage-box-picture.big-image.half-box-left img {
  padding-right: 20px;
}
.vrtx-paging-feed-wrapper a {
  font-family: "Roboto", sans-serif;
}
#vrtx-searchview #vrtx-content,
#vrtx-searchview #right-main {
  width: 100%;
}
#vrtx-searchview #vrtx-main-content {
  width: 738px;
}
#vrtx-searchview #left-main {
  display: none !important;
}
#vrtx-searchview .button.submit-button-link {
  font-family: "Roboto", sans-serif;
}
/* Footer */
#bottomnav {
  display: none !important;
}
#footer-wrapper {
  color: #ffffff;
  background: #876157;
  background-size: 100% !important;
  margin-top: 0;
}
#footer-wrapper h2 {
  color: #ffffff;
}
#footer-wrapper #footers {
  font-size: 16px !important;
  font-size: 1.6rem !important;
}
#footer-wrapper #footers a {
  color: #ffffff;
}
#footer-wrapper #footers .info > p {
  float: left;
  margin-top: 0;
  margin-bottom: 10px;
}
#footer-wrapper #footers .eu-flag > span {
  padding-top: 20px;
  float: left;
  padding-left: 10px;
  width: 75%;
}
#footer-wrapper #footers .eu-flag > img {
  padding-top: 20px;
  float: left;
}
#footer-wrapper #footers .social-components {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#footer-wrapper #footers .social-components .facebook {
  background: transparent url(../images/social-facebook.svg) no-repeat scroll left center;
}
#footer-wrapper #footers .social-components .facebook:hover,
#footer-wrapper #footers .social-components .facebook:focus {
  background: transparent url("../images/social-facebook-hover.svg") no-repeat scroll left center;
}
#footer-wrapper #footers .social-components .linkedin {
  background: transparent url(../images/social-linkedin.svg) no-repeat scroll left center;
}
#footer-wrapper #footers .social-components .linkedin:hover,
#footer-wrapper #footers .social-components .linkedin:focus {
  background: transparent url("../images/social-linkedin-hover.svg") no-repeat scroll left center;
}
#footer-wrapper #footers .social-components .twitter {
  background: transparent url(../images/social-twitter.svg) no-repeat scroll left center;
}
#footer-wrapper #footers .social-components .twitter:hover,
#footer-wrapper #footers .social-components .twitter:focus {
  background: transparent url("../images/social-twitter-hover.svg") no-repeat scroll left center;
}
#footer-wrapper #footers .social-components .mailto {
  background: transparent url(../images/social-mailto.svg) no-repeat scroll left center;
}
#footer-wrapper #footers .social-components .mailto:hover,
#footer-wrapper #footers .social-components .mailto:focus {
  background: transparent url("../images/social-mailto-hover.svg") no-repeat scroll left center;
}
#footer-wrapper #footers .social-components .facebook,
#footer-wrapper #footers .social-components .linkedin,
#footer-wrapper #footers .social-components .twitter,
#footer-wrapper #footers .social-components .mailto {
  height: 45px;
  width: 45px;
  color: transparent;
  background-size: 100% auto;
  margin-left: 20px;
}
#footer-wrapper #footers .social-components .facebook:hover,
#footer-wrapper #footers .social-components .linkedin:hover,
#footer-wrapper #footers .social-components .twitter:hover,
#footer-wrapper #footers .social-components .mailto:hover,
#footer-wrapper #footers .social-components .facebook:focus,
#footer-wrapper #footers .social-components .linkedin:focus,
#footer-wrapper #footers .social-components .twitter:focus,
#footer-wrapper #footers .social-components .mailto:focus {
  background-size: 100% auto;
  -webkit-transition: 0.5s all ease-in;
  -moz-transition: 0.5s all ease-in;
  -o-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}
#footer-wrapper #footers .social-components a:not(.vrtx-dropdown-form-link):not(.vrtx-dropdown-link) {
  padding-left: 10px;
  margin-top: 3px;
}
#footer-wrapper #footers .social-components a:not(.vrtx-dropdown-form-link):not(.vrtx-dropdown-link):hover,
#footer-wrapper #footers .social-components a:not(.vrtx-dropdown-form-link):not(.vrtx-dropdown-link):focus {
  background-color: transparent;
  box-shadow: none;
  color: transparent;
}
#footer-wrapper #footers .col-3-5 .col-1-3:last-child > * {
  float: right;
  margin-top: 15px;
  margin-left: 10px;
}
#footer-wrapper #footers .col-1-3 {
  width: 50%;
}
#footer-wrapper #footers .col-2-5 {
  width: 30%;
}
#footer-wrapper #footers .col-3-5 {
  width: 70%;
  padding-top: 0;
}
#footer-wrapper #footers .content {
  margin-left: 40px;
}
#footer-wrapper #footers .content a {
  font-family: "Roboto", sans-serif;
}
.policy {
  width: 100%;
  background: #6A667A;
}
.policy ul {
  width: 970px;
  height: 100%;
  margin: 0 auto;
}
.policy ul li {
  background-color: #6A667A;
  margin: 0 40px 8px 0;
  padding-top: 8px;
  display: inline-block;
  height: 100%;
}
.policy ul li::before {
  content: "";
}
.policy ul li a {
  color: #ffffff;
}
@media print {
   #head-wrapper {
    height: 185px;
  }
   #head-wrapper #head #header a {
    color: #3b3b3b;
  }
  div#content-breadcrumb-container {
    display: none;
  }
}
@media only screen and (max-width: 16cm) and (orientation: portrait), only screen and (max-width: 19cm) and (orientation: landscape) {
   #nav-offcanvas #lang-link {
    display: none;
  }
   #head-wrapper #head {
    height: 180px;
  }
   #head-wrapper #head #header {
    width: 100%;
  }
   #head-wrapper #head #header a#logotext {
    top: 20px;
    left: 0;
    width: 100%;
    display: block;
    font-size: 50px;
    font-size: 5rem;
    text-align: center;
  }
   #head-wrapper #head #header img#logoimg {
    height: 130px;
    top: 50px;
    left: -75px;
  }
   #head-wrapper #head #header span.tagline {
    display: none;
  }
   #menu-wrapper .menu li.active,
   #menu-wrapper .menu {
    background: #876157;
  }
   #menu-wrapper .menu li a.toggle-navigation,
   #menu-wrapper .menu li a.toggle-search {
    color: #ffffff;
  }
   .menu-search button:after {
    left: -22px;
  }
  div#content-breadcrumb-container {
    width: 100%;
    margin-top: -30px;
    padding-bottom: 15px;
  }
  #vrtx-frontpage div#content-breadcrumb-container {
    margin-left: 15px;
  }
  #main .vrtx-person-listing td {
    border-bottom: none;
  }
  #vrtx-frontpage #main .grid-container:not(.row-last-colored) + .grid-container:not(.row-first-colored) {
    border-top: none;
  }
  #vrtx-frontpage #main .vrtx-frontpage-box:not(.grey-box):not(.grey-clip-box):not(.grey-box-light):not(.red):not(.responsive-hide) + .vrtx-frontpage-box:not(.grey-box):not(.grey-clip-box):not(.grey-box-light):not(.red) {
    border-top: none;
  }
   #footer-wrapper {
    background: #876157;
  }
   #footer-wrapper #footers .col-2-5,
   #footer-wrapper #footers .col-3-5 {
    width: 100%;
  }
   #footer-wrapper #footers .content {
    margin-left: 10px;
  }
  .policy {
    padding-left: 15px;
  }
}
