<!DOCTYPE html>
<script> var exports = {}; </script>
<html lang="en">

<head>
  <title>AtLAST Sensitivity Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="/static/resources/favicon.ico"/>

  <!-- Bootstrap CDN tags -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom-style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- BootstrapValidator CDN tags -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Temporary workaround because exports is only used for unit testing at this stage -->
  <script>var exports = { "__esModule": true };</script>
 
  <!-- Custom Javascript Functions -->
  <script src="{{ url_for('static', filename='js/CalculatorFunctions.js') }}"></script>
  <style>
      .fakeimg {
      height: 200px;
      background: #aaa;
      }
  </style>
</head>


<body bgcolor="#00aeef">

  <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
    <a class="navbar-brand" href="http://www.skatelescope.org">
      <img src="{{ url_for('static', filename='resources/skaint_logo-1030x728.jpg') }}" alt="SKA_Logo" style="width:80px;" class="img-thumbnail">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">SKA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://developer.skatelescope.org/projects/sensitivity-calculator/en/latest/?badge=latest">Documentation</a>
        </li>
      </ul>
    </div>  
  </nav>

  <div class="container mt-4">
    <h1 class="mt-5">AtLAST Sensitivity Calculator</h1>
    <form action="#" onsubmit="checkValidity();" id="calculator-form" class="needs-validation" novalidate>
      <div class="row" id="row-band">
        <div class="col-sm-8">
          <label for="band-radio">Instrument:</label>
          <div class="form-group">
            <div class="btn-group btn-group-toggle" id="band-radio" data-toggle="buttons">
              <label class="btn btn-primary" onclick="updateInstrumentSelection('1');">
                <input type="radio" name="options" id="option-instr1" autocomplete="off"> Instrument 1
              </label>
              <label class="btn btn-primary" onclick="updateInstrumentSelection('2');">
                <input type="radio" name="options" id="option-instr2" autocomplete="off"> Instrument 2
              </label>
              <label class="btn btn-primary active"  onclick="updateInstrumentSelection('3');">
                <input type="radio" name="options" id="option-instr3" autocomplete="off" checked> Instrument 3
              </label>
              <label class="btn btn-primary" onclick="updateBandSelection('4');">
                <input type="radio" name="options" id="option-instr4" autocomplete="off"> Instrument 4
              </label>
            </div>
          </div>
          <p id="band-explanation"></p>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>The instrument to use.</p>
        </div>
      </div>

      <div class="row" id="row-elevation">
        <div class="col-sm-8">
          <label for="elev-input">Elevation:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="elev-input" placeholder="Enter value..." name="elev-input" value="30.0" onchange="updateForm();">
            <div class="invalid-feedback" id="elev-invalid">Please enter valid number, between 5 and 90</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>Elevation in degrees (Min: 5; Max: 90)</p>
        </div>
      </div>

      <div class="row" id="obs-freq">
        <div class="col-sm-8">
          <label for="obs-freq-input">Observing frequency (GHz):</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="obs-freq-input" placeholder="Enter value..." name="obs-freq-input" value="230.0" onchange="updateForm();">
            <div class="invalid-feedback" id="obs-freq-invalid">Please enter valid number, between ? and ?</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>Observing frequency in GHz (Min: ?; Max: /)</p>
        </div>
      </div>

      <div class="row" id="row-bandwidth">
        <div class="col-sm-8">
          <label for="bandwidth-input">Bandwidth (MHz):</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="bandwidth-input" placeholder="Enter value..." name="bandwidth-input" value="100.0" onchange="updateForm();">
            <div class="invalid-feedback" id="bandwidth-invalid">Please enter valid number, between ? and ?</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>Bandwidth in MHz (Min: ?; Max: ?)</p>
        </div>
      </div>

      <div class="row" id="row-pwv">
        <div class="col-sm-8">
      	  <label for="pwv-input">Weather PWV (mm):</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="pwv-input" placeholder="Enter value..." name="pwv-input" value="30.0" onchange="updateForm();">
	    <div class="invalid-feedback" id="pwv-invalid">Please enter valid number.</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>The weather condition for observing, PWV (mm) between ? and ?.</p>
        </div>
      </div>

      <div class="row" id="row-npol">
        <div class="col-sm-8">
          <label for="npol-input">Number of polarizations:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="npol-input" placeholder="Enter value..." name="npol-input" value="1" onchange="updateForm();">
            <div class="invalid-feedback" id="npol-invalid">Please enter valid number; 1 or 2</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>Number of polarizations (1 or 2)</p>
        </div>
      </div>

      <div class="row" id="row-Trx">
        <div class="col-sm-8">
          <label for="Trx-input">T rx (K):</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="Trx-input" placeholder="Enter value..." name="Trx-input" value="15" onchange="updateForm();">
            <div class="invalid-feedback" id="Trx-invalid">Please enter valid number; > 0</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>Receiver temperature (K)</p>
        </div>
      </div>

      <div class="row" id="row-Tamb">
        <div class="col-sm-8">
          <label for="Tamb-input">T ambient (K):</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="Tamb-input" placeholder="Enter value..." name="Tamb-input" value="275" onchange="updateForm();">
            <div class="invalid-feedback" id="Tamb-invalid">Please enter valid number; > 0</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>Ambient temperature (K)</p>
        </div>
      </div>

      <div class="row" id="row-g">
        <div class="col-sm-8">
          <label for="g-input">g:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="g-input" placeholder="Enter value..." name="g-input" value="1.0" onchange="updateForm();">
            <div class="invalid-feedback" id="g-invalid">Please enter valid number: ?</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>g</p>
        </div>
      </div>

      <div class="row" id="row-eta-eff">
        <div class="col-sm-8">
          <label for="eta-eff-input">eta eff:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="eta-eff-input" placeholder="Enter value..." name="eta-eff-input" value="0.95" onchange="updateForm();">
            <div class="invalid-feedback" id="eta-eff-invalid">Please enter valid number; 0 < eta eff < 1</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>eta effective</p>
        </div>
      </div>

      <div class="row" id="row-eta-ill">
        <div class="col-sm-8">
          <label for="eta-ill-input">eta illumination:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="eta-ill-input" placeholder="Enter value..." name="eta-ill-input" value="0.95" onchange="updateForm();">
            <div class="invalid-feedback" id="eta-ill-invalid">Please enter valid number; 0 < eta ill < 1</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>eta illumination</p>
        </div>
      </div>

      <div class="row" id="row-eta-g">
        <div class="col-sm-8">
          <label for="eta-g-input">eta g:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="eta-g-input" placeholder="Enter value..." name="eta-g-input" value="0.95" onchange="updateForm();">
            <div class="invalid-feedback" id="eta-g-invalid">Please enter valid number; 0 < eta g < 1</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>eta g</p>
        </div>
      </div>

      <div class="row collapse internal">
        <div class="col-sm-8">
          <label for="etaPointing-input">etaPointing:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="etaPointing-input" placeholder="Enter value..." name="etaPointing-input" onchange="updateForm();" disabled required>
            <div class="input-group-append">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active" id="checkbox-etaPointing" href="#" onclick="event.preventDefault(); updateCheckbox('etaPointing');">
                  <input type="checkbox" checked autocomplete="off">Enter Manually
                </label>
              </div>
            </div>
            <div class="invalid-feedback" id="etaPointing-invalid">Please fill out this field.</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
      	  <br>
      	  <p>Pointing Efficiency.</p>
        </div>
      </div>

      <div class="row collapse internal">
        <div class="col-sm-8">
          <label for="etaCoherence-input">etaCoherence:</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="etaCoherence-input" placeholder="Enter value..." name="etaCoherence-input" onchange="updateForm();" disabled required>
            <div class="input-group-append">
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active" id="checkbox-etaCoherence" href="#" onclick="event.preventDefault(); updateCheckbox('etaCoherence');">
                  <input type="checkbox" checked autocomplete="off">Enter Manually
                </label>
              </div>
	    </div>
	    <div class="invalid-feedback" id="etaCoherence-invalid">Please fill out this field.</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
      	  <br>
      	  <p>Coherence Efficiency.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <label for="input-switch-radio">Calculate integration time or sensitivity?</label>
          <div class="form-group">
            <div class="btn-group btn-group-toggle" id="input-switch-radio" data-toggle="buttons">
              <label class="btn btn-primary active" onclick="setInputs('integration');">
                <input type="radio" name="options" id="option-sens" autocomplete="off" checked> IntegrationTime
              </label>
              <label class="btn btn-primary" onclick="setInputs('sensitivity');">
                <input type="radio" name="options" id="option-time" autocomplete="off"> Sensitivity
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>

      <div class="row" id="row-integration-time">
        <div class="col-sm-8">
          <label for="integration-time-input">Integration time (s):</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="integration-time-input" placeholder="Enter value..." name="integration-tim-input" value="15" onchange="updateForm();">
            <div class="invalid-feedback" id="integration-time-invalid">Please enter valid number; > 0</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>Integration time (s)</p>
        </div>
      </div>

      <div class="row" id="row-sensitivity" style="display: none;">
        <div class="col-sm-8">
          <label for="sensitivity-input">Sensitivity (mJy):</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="sensitivity-input" placeholder="Enter value..." name="sensitivity-input" value="15" onchange="updateForm();" disabled>
            <div class="invalid-feedback" id="sensitivity-invalid">Please enter valid number; > 0</div>
          </div>
        </div>
        <div class="col-sm-4 align-self-center info-col border border-dark mb-3">
          <br>
          <p>Sensitivity (mJy)</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <button type="submit" class="btn btn-primary">Calculate</button>
          <div id="submit-feedback" class="invalid-feedback">Please choose one or more observing modes.</div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="card output-card hidden" id="output"></div>
        </div>
      </div>

    </form>
  </div>

  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
  </div>

</body>
</html>
