/* CSS for atlast */
/*
 * Utilities
 */
/*
 * Commonly used mixins
 */
.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.atlast-navbar {
    background-color: #2c3e50;
}

a.nav-link {
    color: white !important;
    font-weight: 500;
}

a.nav-link:hover {
    color: #18bc9c !important;
}

.calculator-container {
    margin-left: 1%;
}

.titles {
    font-weight: 600;
    color: #747474;
    font-size: larger;
}

.card {
  padding: 5px;
  font-weight: bold;
  text-align: center;
  min-height: 39px;
}

.card.calculated {
  background-color: #aceadd;
  border: 3px solid #4c9c8b;
}

input:invalid {
  border: 2px solid red;
}

.param-input-group {
    width: 80%;
}

.submit-btn-col {
    margin-top: 0.2rem;
}

.invalid-message {
    width:100%;
    margin-top:.25rem;
    font-size:.9em;
    color:#e74c3c;
}

html,
body {
  font-family: "Roboto", sans-serif, Arial, sans-serif;
  line-height: 26px;
  color: #3b3b3b;
  font-weight: 400;
  font-size: 17px;
  font-size: inherit;
}

a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  color: #3b3b3b;
  font-weight: 700;
}

h1 a,
h2 a,
h3 a,
h4 a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 30px;
  font-size: 3rem;
}
h2 {
  font-size: 26px;
  font-size: 2.6rem;
}
h3 {
  font-size: 20px;
  font-size: 2rem;
}
h4 {
  font-size: 16px;
  font-size: 1.6rem;
}
hr {
  border-bottom: 4px solid #c09782;
  padding-bottom: 10px;
}

button {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  background-color: #876157;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

button:focus,
button:hover {
  background-color: #3b3b3b;
  color: #ffffff;
}

#header {
    height: 200px;
    width: 100%;
    background: url("../resources/atlast-banner-bg.png") top center repeat-x;
    background-size: 10px;
}

img#logoimg {
  position: absolute;
  height: 110px;
  top: 80px;
  left: 2%;
}

#logotext {
  font-size: 5rem;
  top: 100px;
  left: 20%;
  position: relative;
  padding: 10px 0;
}

#tagline {
  padding-top: 20px;
  font-size: 1.5rem;
  line-height: 1.1;
}

@media print {
  #header {
    color: #3b3b3b;
    height: 185px;
  }
}

@media screen and (max-width: 660px) {
    #header {
        height: 180px;
        background-size: 8px;
    }
    #logotext {
        left: 0;
        top: 70px;
        font-size: 4rem;
        text-align: center;
    }
    img#logoimg {
        height: 80px;
        top: 70px;
        left: -75px;
    }
    #tagline {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #header {
        height: 180px;
        background-size: 8px;
    }
    #logotext {
        top: 70px;
        font-size: 4rem;
    }
    img#logoimg {
        height: 80px;
        top: 70px;
        left: -75px;
    }
    #tagline {
        font-size: 1.1rem;
    }
}
